# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build
dist

# misc
.DS_Store
*.pem

# environment files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# turbo
.turbo

# editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
